.header-view {
  background-color: @background-header;
  color: @text-color-header;
  font-size: @font-size-header;

  a {
    text-decoration: none;
  }

  .logo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    font-size: 30px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
  }

  .tab {
    margin-right: @padding-small;
    padding: @padding-large;

    &.active {
      background-color: @background-header-active;
    }
    &:hover {
      background-color: @background-header-hover;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}