.header-view {
  background-color: @header-background;
  color: @header-text-color;

  .logo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    font-size: 30px;

    a {
      color: @header-text-color;
      text-decoration: none;
    }
  }

  .tabs {
    display: flex;
  }

  .tab {
    color: @header-text-color !important;
    padding: 20px 15px;
    text-decoration: none;

    &.active {
      background-color: @header-background-active;
    }
  }
}