<script type="text/template" id="scaffold">
    <% if (!obj.hideTitle) { %>
        <div class="previewRowTitle">Spell Slots:</div>
    <% } %>
    <div class="previewRowValue">
        <ul class="previewList spellSlotsList"></ul>
    </div>
</script>

<script type="text/template" id="descriptionRow">
    <li class="previewListItem spellSlotsListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellSlotsTitle">Description</h4>
            <% _.each(obj.description, function(paragraph) { %>
                <p><%- paragraph %></p>
            <% }); %>
        </div>
    </li>
</script>

<script type="text/template" id="slotRow">
    <li class="previewListItem spellSlotsListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellSlotsTitle"><%- obj.title %></h4>
            <p><%- obj.text %></p>
        </div>
    </li>
</script>