body {
  background-color: #404949;
  color: #efefef;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #efefef;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
p + p,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
p + ul,
h1 + p,
h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h1 + ul,
h2 + p,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h2 + ul,
h3 + p,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h3 + ul,
h4 + p,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h4 + ul,
h5 + p,
h5 + h1,
h5 + h2,
h5 + h3,
h5 + h4,
h5 + h5,
h5 + h6,
h5 + ul,
h6 + p,
h6 + h1,
h6 + h2,
h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6,
h6 + ul,
ul + p,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ul + ul {
  margin-top: 10px;
}
li + li {
  margin-top: 5px;
}
.page-container {
  display: flex;
  justify-content: center;
}
.page-container > .wrapper {
  display: flex;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}
.container {
  display: flex;
}
.header-view {
  background-color: #404949;
  color: #efefef;
}
.header-view a {
  text-decoration: none;
}
.header-view .logo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  font-size: 30px;
}
.header-view .tabs {
  display: flex;
  flex-wrap: wrap;
}
.header-view .tab {
  padding: 20px;
}
.header-view .tab.active {
  background-color: #000000;
}
.content-view {
  background-color: #dddddd;
  min-height: 500px;
}
.content-view .content-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-view .content-card {
  background-color: #404949;
  color: #efefef;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer-view {
  background-color: #404949;
  color: #efefef;
}
.footer-view ul {
  list-style: none;
  padding: 0;
}
.footer-view li {
  margin-left: 10px;
  margin-top: 5px;
}
.footer-view .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer-view .section {
  padding: 20px;
}
.footer-view .header {
  font-size: 15px;
}
