body {
  background-color: #404949;
  color: #efefef;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #00B7FF;
}
.page-container {
  display: flex;
  justify-content: center;
}
.page-container > .wrapper {
  display: flex;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}
.container {
  display: flex;
}
.header-view {
  background-color: #404949;
  color: #efefef;
}
.header-view .logo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  font-size: 30px;
}
.header-view .logo a {
  color: #efefef;
  text-decoration: none;
}
.header-view .tabs {
  display: flex;
  flex-wrap: wrap;
}
.header-view .tab {
  color: #efefef !important;
  padding: 20px 15px;
  text-decoration: none;
}
.header-view .tab.active {
  background-color: #000000;
}
.content-view {
  background-color: #dddddd;
  color: #404949;
  min-height: 500px;
}
.content-view .content-wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-view {
  background-color: #404949;
  color: #efefef;
}
.footer-view a {
  color: #efefef;
}
.footer-view .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer-view .section {
  padding: 20px;
}
.footer-view .header {
  font-size: 15px;
}
.footer-view .row {
  padding: 3px 3px 3px 6px;
}
