<script type="text/template" id="scaffold">
    <div class="g_card">
        <h3 class="chooserHeader">Select a <%- obj.label %>:</h3>
        <ul class="chooserList"></ul>
    </div>
</script>

<script type="text/template" id="choice">
    <li class="g_container">
        <a class="chooserOption" href="#rules/<%- obj.section %>/preview?name=<%- obj.name %>">
            <% if (obj.iconPath) { %>
                <img class="chooserIcon" src="<%- obj.iconPath %>">
            <% } %>
            <span class="chooserLabel"><%- obj.name %></span>
        </a>
    </li>
</script>