<script type="text/template" id="scaffold">
    <div class="g_card">
        <%= this.actionBar(obj) %>
        <%= this.editRow({ label: 'Name', className: 'name' }) %>
        <%= this.editRow({ label: 'Description', className: 'description' }) %>
        <%= this.editRow({ label: 'Proficiencies', className: 'proficiencies' }) %>
        <%= this.editRow({ label: 'Starting Equipment', className: 'equipment' }) %>
        <%= this.editRow({ label: 'Features', className: 'features' }) %>
        <%= this.editRow({ label: 'Choices', className: 'choices' }) %>
    </div>
</script>

<script type="text/template" id="actionBar">
    <div class="g_actionBar">
        <a class="g_action preview" href="#rules/backgrounds/preview?name=<%- obj.name %>">Go Back</a>
    </div>
</script>

<script type="text/template" id="editRow">
    <div class="g_sectionRow editRow">
        <div class="editRowTitle"><%- obj.label %>:</div>
        <div class="<%- obj.className %>">TODO</div>
    </div>
</script>