<script type="text/template" id="scaffold">
    <% if (!obj.hideTitle) { %>
        <div class="previewRowTitle">Spell List:</div>
    <% } %>
    <div class="previewRowValue">
        <ul class="previewList spellList"></ul>
    </div>
</script>

<script type="text/template" id="spellRow">
    <li class="previewListItem spellListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellTitle"><%- obj.name %></h4>
            <p><%- obj.listString %></p>
        </div>
    </li>
</script>