<script type="text/template" id="scaffold">
    <% if (!obj.hideTitle) { %>
        <div class="previewRowTitle">Features:</div>
    <% } %>
    <div class="previewRowValue">
        <ul class="previewList featureList"></ul>
    </div>
</script>

<script type="text/template" id="featureRow">
    <li class="previewListItem featureListItem">
        <div class="g_container column">
            <h4 class="previewTitle featureTitle"><%- obj.name %></h4>
            <% _.each(obj.description, function(paragraph) { %>
                <p><%- paragraph %></p>
            <% }); %>
            <% if (obj.value) { %>
                <div>
                    <span class="previewLabel featureLabel">Value:</span>
                    <span class="previewValue featureValue"><%- obj.value %></span>
                </div>
            <% } %>
        </div>
    </li>
</script>