<script type="text/template" id="scaffold">
    <div class="previewRowTitle">Choices:</div>
    <div class="previewRowValue">
        <ul class="previewList choiceList"></ul>
    </div>
</script>

<script type="text/template" id="basicChoiceRow">
    <li class="previewListItem choiceListItem">
        <div class="g_container column">
            <h4 class="previewTitle choiceTitle"><%- obj.name %></h4>
            <div>
                <% _.each(obj.description, function(paragraph) { %>
                    <p><%- paragraph %></p>
                <% }); %>
            </div>
            <div>
                <span class="previewLabel choiceLabel">Type:</span>
                <span class="previewItemText choiceItemText"><%- obj.type %></span>
            </div>
            <div>
                <span class="previewLabel choiceLabel">Pick <%- obj.pick %> from:</span>
                <span class="previewItemText choiceItemText"><%- obj.listString %></span>
            </div>
        </div>
    </li>
</script>

<script type="text/template" id="fancyChoiceRow">
    <li class="previewListItem choiceListItem">
        <div class="g_container column">
            <h4 class="choiceTitle"><%- obj.name %></h4>
            <div>
                <% _.each(obj.description, function(paragraph) { %>
                    <p><%- paragraph %></p>
                <% }); %>
            </div>
            <div>
                <span class="previewLabel choiceLabel">Type:</span>
                <span class="previewItemText choiceItemText"><%- obj.type %></span>
            </div>
            <div class="previewLabel choiceLabel">Pick <%- obj.pick %> from:</div>
            <div class="previewNestedContainer"></div>
        </div>
    </li>
</script>