<script type="text/template" id="scaffold">
    <div class="wrapper home-wrapper">
        <div class="content-card">
            <h1>Welcome to ScrollRole!</h1>
            <p>
                ScrollRole is a website for building fifth edition (5e) Dungeons and Dragons characters while following
                all terms of the Open Gaming License in the System Reference Document
                (<a href="http://dnd.wizards.com/articles/features/systems-reference-document-srd">SRD</a>).
            </p>
            <p>
                To prevent the stale experience of only using the limited content in the SRD, you will have two options:
            </p>
            <ul>
                <li>
                    Disable rules restrictions in the <a href="#builder">Character Builder</a>, so you can make whatever
                    changes you want; Or
                </li>
                <li>
                    <a href="#rules">Customize your own rules</a> and use them in the Character Builder.
                </li>
            </ul>

            <!-- TODO: Remove this when the bulk of the app is complete -->
            <br/>
            <br/>
            <h2>Development Progress</h2>
            <p>This app is under active development. [Last Updated: 1 November 2017]</p>

            <p>Done:</p>
            <ul>
                <li>[Custom Rules] Background Previewer</li>
                <li>[Custom Rules] Race Previewer</li>
                <li>[General] Add logo, favicon, & loading mask</li>
            </ul>

            <p>In Progress:</p>
            <ul>
                <li>[Custom Rules] Class Previewer</li>
            </ul>

            <p>TODO:</p>
            <ol>
                <li>[Custom Rules] Background/Class/Race Editors</li>
                <li>[Custom Rules] Background/Class/Race Creators</li>
                <li>[Custom Rules] Saving/Exporting</li>
                <li>[Character Builder] Creation at Level One</li>
                <li>[Character Builder] Leveling Up</li>
                <li>[Character Builder] Saving/Exporting</li>
                <li>[Character Builder] Inventory Management</li>
            </ol>
        </div>
    </div>
</script>
