<script type="text/template" id="homeView">
    <div class="wrapper home-wrapper">
        <div class="content-card">
            <h1>Welcome to ScrollRole!</h1>
            <p>
                ScrollRole is a website for building fifth edition (5e) Dungeons and Dragons characters while following
                all terms of the Open Gaming License in the System Reference Document
                (<a href="http://dnd.wizards.com/articles/features/systems-reference-document-srd">SRD</a>).
            </p>
            <p>
                To prevent the stale experience of only using the limited content in the SRD, you will have two options:
            </p>
            <ul>
                <li>
                    Disable rules restrictions in the <a href="#builder">character builder</a>, so you can make whatever
                    changes you want; Or
                </li>
                <li>
                    <a href="#rules">Customize your own rules</a> and use them in the <a href="#builder">character
                    builder</a>.
                </li>
            </ul>
        </div>
    </div>
</script>
