<script type="text/template" id="scaffold">
    <div class="previewRowTitle">Spell Casting:</div>
    <div class="previewRowValue">
        <ul class="previewList spellCastingList"></ul>
    </div>
</script>

<script type="text/template" id="textRow">
    <li class="previewListItem spellCastingListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellCastingTitle"><%- obj.title %></h4>
            <p><%- obj.text %></p>
        </div>
    </li>
</script>

<script type="text/template" id="htmlRow">
    <li class="previewListItem spellCastingListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellCastingTitle"><%- obj.title %></h4>
            <%= obj.contentHtml %>
        </div>
    </li>
</script>

<script type="text/template" id="descriptionRow">
    <li class="previewListItem spellCastingListItem">
        <div class="g_container column">
            <h4 class="previewTitle spellCastingTitle">Description</h4>
            <% _.each(obj.description, function(paragraph) { %>
                <p><%- paragraph %></p>
            <% }); %>
        </div>
    </li>
</script>