<script type="text/template" id="scaffold">
    <div class="previewRowTitle">Proficiencies:</div>
    <div class="previewRowValue">
        <ul class="previewList proficiencyList"></ul>
    </div>
</script>

<script type="text/template" id="list">
    <li class="previewListItem proficiencyListItem">
        <div>
            <span class="previewLabel proficiencyLabel"><%- obj.name %>:</span>
            <span class="previewItemText proficiencyItemText"><%- obj.listString %></span>
        </div>
    </li>
</script>