<script type="text/template" id="footerView">
    <div class="wrapper footer-wrapper">
        <div class="section credit">
            <div class="header">Credit to Others:</div>
            <div class="row">
                <a href="#">Logo Credit</a>
            </div>
            <div class="row">
                <a href="https://github.com/NoBrainer/ScrollRole/wiki/Credit-to-Others">Other Credit</a>
            </div>
        </div>
        <div class="section feedback">
            <div class="header">Feedback/Bug Reporting:</div>
            <div class="row">
                <a href="mailto:developer@scrollrole.com">Email the Developer</a>
            </div>
        </div>
        <div class="section legal">
            <div class="header">Legal Stuff:</div>
            <div class="row">
                <a href="https://github.com/NoBrainer/ScrollRole/wiki/Privacy-Policy">Privacy Policy</a>
            </div>
            <div class="row">
                <a href="https://github.com/NoBrainer/ScrollRole/wiki/Terms-of-Use">Terms of Use</a>
            </div>
        </div>
    </div>
</script>
