<script type="text/template" id="scaffold">
    <div class="wrapper footer-wrapper">
        <div class="section credit">
            <div class="header">Credit to Others:</div>
            <ul>
                <li>
                    <a target="_blank" href="http://winged-victory.net">Destinie Carbone</a> ~ Logo, d20 Spinner
                </li>
                <li>
                    <a target="_blank" href="https://github.com/NoBrainer/ScrollRole/wiki/Credit-to-Others">Other Credit</a>
                </li>
            </ul>
        </div>
        <div class="section feedback">
            <div class="header">Feedback/Bug Reporting:</div>
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/NoBrainer/ScrollRole/issues">Issue Tracker</a>
                </li>
                <li>
                    <a href="mailto:developer@scrollrole.com">Email the Developer</a>
                </li>
            </ul>
        </div>
        <div class="section legal">
            <div class="header">Legal Stuff:</div>
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/NoBrainer/ScrollRole/wiki/Privacy-Policy">Privacy Policy</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/NoBrainer/ScrollRole/wiki/Terms-of-Use">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</script>
