<script type="text/template" id="footerView">
    <div class="wrapper footer-wrapper">
        <div class="section credit">
            <span>Credit to Others:</span>
            <ul>
                <li><a href="#">Logo Credit</a></li>
                <li><a href="#">Other Credit</a></li>
            </ul>
        </div>
        <div class="section feedback">
            <span>Feedback/Bug Reporting:</span>
            <ul>
                <li><a href="mailto:developer@scrollrole.com">Email the Developer</a></li>
            </ul>
        </div>
        <div class="section legal">
            <span>Legal Stuff:</span>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</script>
